@use "../../../styles/mixins" as mix;

.arrowsWrapper {
  @include mix.flex-center();
  --size: 80px;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--accent);
  cursor: pointer;
  position: relative;

  & .arrowsImg {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    object-fit: contain;
    pointer-events: none;
  }

  & .hitZone {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  & .hitLeft {
    left: 0;
  }

  & .hitRight {
    right: 0;
  }
}
