@use "../../styles/_mixins.scss" as mix;

.passion {
  display: flex;
  align-items: start;
  gap: 10rem;
  margin-top: 4rem;

  @include mix.break(sm) {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  & .imageWrapper {
    width: 100%;
    max-width: 58.5rem;
  }

  & .content {
    width: 55.7rem;

    @include mix.break(xs) {
      width: auto;
    }

    & .text {
      margin-bottom: 5rem;

      @include mix.break(xxs) {
        margin-bottom: 2.4rem;
      }
    }

    & .list {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding-left: 3rem;
      width: 39.3rem;

      @include mix.break(xs) {
        width: auto;
        gap: 1.6rem;
      }

      & .item {
        font-size: 1.8rem;
        line-height: 3.2rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%, -50%);
          left: -2.5rem;
          width: 2.4rem;
          height: 2.4rem;
          background-image: url("../../assets/icons/CheckMark.svg");
        }
      }
    }
  }
}
