@use "../../styles/_mixins.scss" as mix;

.passion {
  display: flex;
  align-items: start;
  gap: 100px;
  margin-top: 40px;

  & .imageWrapper {
    width: 100%;
    max-width: 585px;
    height: 651px;
  }

  & .content {
    width: 557px;

    & .list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-left: 30px;
      width: 393px;

      & .item {
        font-size: 18px;
        line-height: 32px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%, -50%);
          left: -25px;
          width: 24px;
          height: 24px;
          background-image: url("../../assets/icons/CheckMark.svg");
        }
      }
    }
  }
}
