@use "../../styles/_mixins.scss" as mix;

.cocaHelp {
  &.animate {
    & .title {
      @include mix.left-to-right($duration: 1s);
    }
    & .text {
      @include mix.left-to-right($duration: 1s, $delay: 1s);
    }
  }

  & .title {
    font-weight: 600;
    line-height: 120%;
    font-size: 56px;
    margin-bottom: 20px;
    margin-top: 0;
    width: 816px;
    color: var(--accent);
    opacity: 0;
  }

  & .text {
    color: var(--text);
    width: 660px;
    font-size: 18px;
    line-height: 150%;
  }
}
