.text {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  width: 600px;
  padding-left: 100px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../../../assets/icons/Line.svg");
    width: 76px;
    height: 2px;
    left: 0;
    top: 15%;
  }
}
