@use "../../styles/_mixins.scss" as mix;

.liftYourBusiness {
  & .statisticList {
    @include mix.flex-align-center();
    justify-content: space-between;
    margin-bottom: 60px;
  }

  & .imageWrapper {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
  }

  & .callToActionContent {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }
}
