@use "../../styles/_mixins.scss" as mix;

.liftYourBusiness {
  & .statisticList {
    @include mix.flex-align-center();
    justify-content: space-between;
    margin-bottom: 6rem;

    @include mix.break(sm) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    @include mix.break(xs) {
      margin-bottom: 3.2rem;
    }
  }

  & .imageWrapper {
    width: 100%;
    max-width: 120rem;
    margin-bottom: 5rem;

    @include mix.break(xs) {
      margin-bottom: 4rem;
    }
  }

  & .callToActionContent {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2rem;

    @include mix.break(sm) {
      flex-direction: column;
      gap: 0;
    }
  }
}
