.card {
  width: 481px;

  & .icon {
    width: 40px;
    height: 40px;
  }

  & .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: var(--accent);
    margin-top: 20px;
    margin-bottom: 10px;
  }

  & .text {
    color: var(--text);
    font-size: 16px;
    line-height: 26px;
  }
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 250px;
  row-gap: 50px;
  margin-top: 100px;
}
