.column {
  & .type {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  & .list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    & .item {
      font-size: 1.6rem;
      line-height: 2.4rem;
      transition: all 1s ease;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
}
