@use "../../styles/mixins" as mix;

.sliderWrap {
  position: relative;

  & .sliderActions {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;

    @include mix.break(xs) {
      bottom: 1.2rem;
    }
  }

  & .sliderViewport {
    overflow: hidden;
    width: 100%;
  }

  & .sliderTrack {
    display: flex;
    transition: transform 1s ease;
  }
}
