@use "../../styles/_mixins" as mix;

%underline-hover {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: var(--text-h);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.header {
  @include mix.flex-center;
  height: 114px;
  padding-inline: 10px;

  & .headerInner {
    @include mix.flex-align-center;
    justify-content: space-between;
  }

  & .actions {
    @include mix.flex-center;

    gap: 50px;
  }

  & .navigation {
    & ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      & .navItem {
        & a {
          @extend %underline-hover;
          font-weight: 500;
          line-height: 26px;
          font-size: 16px;
        }
      }
    }
  }

  & .goToArrow {
    @extend %underline-hover;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    position: relative;

    &::after {
      content: " ->";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -20px;
    }
  }
}
