@use "../../styles/_mixins" as mix;

.header {
  @include mix.flex-center;
  height: 11.4rem;
  padding-inline: 1rem;

  & .headerInner {
    @include mix.flex-align-center;
    justify-content: space-between;
  }

  & .actions {
    @include mix.flex-center;
    gap: 5rem;

    @include mix.break(xs) {
      display: none;
    }
  }
}
