@use "../../styles/_mixins.scss" as mix;

.partners {
  @include mix.flex-align-center();
  justify-content: space-between;

  &.animate {
    & .companiesCount {
      & .title {
        @include mix.left-to-right($duration: 1s);
      }

      & .text {
        @include mix.right-to-left($duration: 1s, $delay: 4.7s);
      }
    }

    & .companiesList {
      $base-delay: 1s;
      $step: 0.4s;
      @for $i from 1 through 4 {
        & .companiesItem:nth-child(#{$i}) {
          $delay: $base-delay + ($i) * $step;
          @include mix.left-to-right(
            $duration: 1s,
            $delay: $delay,
            $distance: 200px
          );
        }
      }
      @for $i from 5 through 8 {
        & .companiesItem:nth-child(#{$i}) {
          $delay: $base-delay + ($i) * $step;
          @include mix.right-to-left(
            $duration: 1s,
            $delay: $delay,
            $distance: 200px
          );
        }
      }
    }
  }

  & .companiesCount {
    width: 300px;

    & .title {
      font-size: 56px;
      line-height: 120%;
      margin-bottom: 20px;
    }

    & .text {
      font-size: 18px;
      line-height: 32px;
      color: var(--text);
    }
  }

  & .companiesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    align-items: center;

    & .companiesItem {
      @include mix.flex-center();
      width: 160px;
      height: 90px;
    }
  }
}
