@use "../../styles/_mixins.scss" as mix;

.partners {
  @include mix.flex-align-center();
  justify-content: space-between;
  margin: 30px 0;

  & .companiesCount {
    width: 300px;
  }

  & .companiesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    align-items: center;

    & .companiesItem {
      @include mix.flex-center();
      width: 160px;
      height: 90px;
    }
  }
}
