@use "../../../../styles/mixins" as *;

.animatedElement {
  opacity: 0;

  [data-in-view="true"] & {
    @include animated-element(LeftToRight);
  }
}

@keyframes LeftToRight {
  from {
    opacity: 0;
    transform: translateX(calc(-1 * var(--distance, 2rem)));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
