@use "../../../../styles/mixins" as mix;

.arrowsWrapper {
  @include mix.flex-center();
  gap: 1rem;

  .prevArrow,
  .nextArrow {
    @include mix.flex-center();
    $size: 5rem;

    width: $size;
    height: $size;
    border-radius: 50%;
    border: 0.2rem solid;
    transition: all 0.5s ease-in-out;

    @include mix.break(xs) {
      $sizeMobile: 2.8rem;

      width: $sizeMobile;
      height: $sizeMobile;
    }

    & img {
      $size: 1.8rem;

      width: $size;
      height: $size;
    }
  }
  .nextArrow {
    border-color: var(--dark);
    background-color: var(--dark);

    &:hover {
      opacity: 0.8;
    }
  }

  .prevArrow {
    border-color: var(--light);

    &:hover {
      border-color: var(--dark);
    }
  }
}
