*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --text: #7e8492;
  --text-h: #1d1e25;
  --accent: #ffffff;
  --dark: #1d1e25;
  --light: #ced1d8;
  --light-text: #afb3bb;

  /* font */
  --inter: "Inter", sans-serif;

  color: var(--text-h);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--inter);
}

a {
  color: var(--text-h);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.section {
  padding: 80px 10px;
}

.fullHeightWrapper {
  min-height: 100dvh;
}

.whiteText {
  color: var(--accent);
}

.darkBgWrapper {
  background-color: var(--text-h);
}
