*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* 10px */
  font-size: 62.5%;
}

:root {
  /* colors */
  --text: #7e8492;
  --text-h: #1d1e25;
  --accent: #ffffff;
  --dark: #1d1e25;
  --light: #ced1d8;
  --light-text: #afb3bb;

  /* font */
  --inter: "Inter", sans-serif;

  color: var(--text-h);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--inter);
  overflow-x: hidden;
}

a {
  color: var(--text-h);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 76.7rem) {
  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.fullHeightWrapper {
  min-height: 100dvh;
}

.whiteText {
  color: var(--accent);
}
.darkText {
  color: var(--text-h);
}
.greyText {
  color: var(--text);
}

.darkBgWrapper {
  background-color: var(--text-h);
}
