*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --text: #7e8492;
  --text-h: #1d1e25;
  --accent: #ffffff;
  --dark: #1d1e25;

  /* font */
  --inter: "Inter", sans-serif;

  color: var(--text-h);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: var(--inter);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-h);
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
